* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
}
/* sheared section */
.bttn {
  background-color: #469165;
  padding: 12px 16px;
  color: white;
  font-size: 16px;
  font-style: bold;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
}

.inter-normal {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

/* nav section */
.nav-section nav {
  display: flex;
  justify-content: space-between;
}
nav ul {
  display: flex;
  gap: 32px;
  align-items: center;
}
.nav-section {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
nav img {
  width: 139px;
  height: 60px;
}
nav ul li {
  list-style: none;
}
nav li a {
  text-decoration: none;
  color: black;
}

nav {
  padding: 16px 0;
}
nav button:hover {
  background-color: gray;
}
/* banner section */
.banner-section .banner {
  width: 85%;
  max-width: 1360px;
  /* border: 2px solid green; */
  margin: 0 auto;
  text-align: center;
  padding: 115px 120px;
}
.banner-section {
  max-width: 1600px;
  background-image: url("../assets/hero-bg.png");
  height: 674px;
}
.banner h4 {
  color: #469165;
  background-color: white;
  padding: 8px 12px 8px 12px;
  height: 36px;
  border-radius: 15px;
  margin-bottom: 16px;
}
.banner .subtitle {
}
.banner h1 {
  font-size: 72px;
  font-style: bold;
  font-weight: 700px;
  margin-bottom: 16px;
  height: 168px;
  line-height: 84px;
}
.banner p {
  font-size: 18px;
  color: white;
  margin-bottom: 32px;
}
.banner .button2 {
  padding: 12px 16px;
  color: black;
  font-size: 16px;
  font-style: bold;
  border-radius: 5px;
  border-style: none;
  cursor: pointer;
  background-color: none;
}
.banner-section .peradise .button1 {
  margin-right: 16px;
}
/* card section */
.cards {
  background-color: #b8b0b0;
  /* margin-bottom: 120px; */
}
.main-section {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  /* border: 2px solid red; */
}
.text-section {
  text-align: center;
  padding-top: 80px;
}
.text-section h2 {
  color: #001931;
  font-size: 48px;
  font-style: bold;
  margin-bottom: 16px;
}
.text-section p {
  color: #627382;
  font-size: 16px;
  margin-bottom: 44px;
}
.card {
  width: 322px;
  height: 300px;
  padding: 69px 24px 20px 24px;
  background-color: white;
  text-align: center;
  /* border: 1px solid blue; */
}
.card img {
  margin-bottom: 16px;
}
.card h4 {
  color: #001931;
  font-size: 24px;
  font-weight: 600px;
  margin-bottom: 16px;
}
.card p {
  color: #627382;
  font-size: 16px;
}
.card-section {
  display: flex;
  gap: 24px;
}
/* structure section */
.structure {
  background-color: white;
  max-width: 1600px;
  height: 840px;
}
.structure-container {
  width: 85%;
  max-width: 1360px;
  height: 600px;
  margin: 0 auto;
  /* border: 2px solid red; */
  display: flex;
  gap: 60px;
  padding-top: 120px;
  padding-bottom: 120px;
}
.text {
  padding-top: 101px;
}
.text h6 {
  color: #469165;
  font-size: 16px;
  margin-bottom: 16px;
}
.text h2 {
  color: #001931;
  font-size: 48px;
  font-style: bold;
  margin-bottom: 16px;
}
.text p {
  color: #627382;
  font-size: 16px;
  /* margin-bottom: 20px; */
}
.image-container1 {
  display: flex;
  margin-top: 30px;
}
/* challange section */
.challange-section {
  background-color: white;
  max-width: 1600px;
  height: 507px;
  border: 2px solid red;
}
.challange {
  width: 85%;
  max-width: 1360px;
  margin: 0 auto;
  background-color: #f7f6f2;
  height: 385px;
  padding: 0 120px 120px 120px;
  text-align: center;
}
.challange h2 {
  padding-top: 82px;
  font-size: 40px;
  font-size: bold;
  margin-bottom: 16px;
}
.challange .cycle {
  font-size: 16px;
  color: #627382;
  margin-bottom: 24px;
}
.challange button {
  margin-bottom: 16px;
}
.challange .bike {
  font-size: 16px;
  color: #627382;
}
/* footer section */
footer {
  background-color: rgba(54, 146, 188, 1);
}
.footer-section {
}
